.cabecario{
    display: flex;
    background-color: rgb(185, 185, 185);
}
.cabecario2{
    list-style: none;
    
}

.banner{
    justify-content: center;
    display: flex;

}

.imgbanner{
    margin-top: 1%;
    width: 70%;
    align-items: center;
}

.cards{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.card1{background-color: rgb(198, 198, 198);
    justify-content: center;
    align-items: center;
    text-align: center;

}
.p1{ 
   width: 30%;
   
}
.card2{
        align-items: center;
        
    
        }

        

.home3{
    width: 50%;
}
.home4{
    width: 50%;

}

.prerodape{
    display: flex;
    flex-direction: column;
  align-items: center;
}
footer{
    display: flex;
    background-color: rgb(200, 200, 200);
    justify-content: center;

}
.Lirodape{
    line-height: 250%;
    list-style: none;
    text-align: center;
}

.p4{
    padding-top: 1%;
    padding-left: 10%;
}